@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
:root{
  --main-color: #384f60;
  --secundary-color: #233a4a;
  --lighter-color: #63798b;
  --darker-color: #0d2534;
  --another-color: #00c16c;
  --another-darker-color: #00755c;
  --main-font: 'Quicksand', sans-serif;
}